---
import { Icon } from "astro-icon";
const { width = "1200px", height = "600px", delay = 5000 } = Astro.props;
import BookShowcase from "./BookShowcase.astro";
---

<div class="carousel-container">
    <div class="carousel">
        <div class="carousel-item">
            <BookShowcase
                width={width}
                height={height}
                bookImage="book-page-2.png"
                bookTitle="شماره ٤"
                bookSubtitle="پس از سالها دوباره سمفونی مردگان، در کوچه های برفی"
                publishDate="پاییز ۹٦"
            />
        </div>
        <div class="carousel-item">Item 2</div>
        <div class="carousel-item">Item 3</div>
    </div>
    <Icon name="bi:chevron-right" id="prev" />
    <Icon name="bi:chevron-left" id="next" />
    <div class="carousel-indicators">
        <div class="dot active"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
<style define:vars={{ width, height }}>
    .carousel-container {
        position: relative;
        width: 100%;
        overflow: hidden;
        user-select: none;
    }

    .carousel {
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        width: 100%;
        transition: transform 0.3s ease-in-out;
    }

    .carousel-item {
        flex: 0 0 100%;
        padding: 30px;
        text-align: center;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        text-align: start;
        align-items: center;
        justify-content: center;
        gap: 130px;
    }
    .dot {
        height: 8px;
        width: 8px;
        border-radius: 1vw;
        background-color: var(--color-primary-dark);
    }
    .dot.active {
        background-color: var(--color-secondary-light);
    }

    .carousel-indicators {
        justify-content: center;
        margin-top: 16px;
        display: flex;
        gap: 8px;
    }
    #next,
    #prev {
        top: 50%;
        position: absolute;
        z-index: 5;
        cursor: pointer;
        color: var(--color-text-primary-lighter);
        height: 32px;
    }
    #next {
        left: 10%;
    }
    #prev {
        right: 10%;
    }

    @media (max-width: 1200px) {
        #next,
        #prev {
            display: none;
        }
    }
    @media (max-width: 850px) {
        .carousel {
            margin: 0;
            margin-top: 60px;
        }
        .carousel-indicators div {
            display: none;
        }
    }
</style>
<script define:vars={{ delay }}>
    let carousel = document.querySelector(".carousel");
    let carouselItem = document.querySelectorAll(".carousel-item");
    const indicatorEls = document.querySelectorAll(".carousel-indicators div");
    let currentIndex = 0;
    let itemWidth = carouselItem[0].clientWidth;
    // let timer = setInterval(() => nextSlide(), delay);
    function moveCarousel() {
        carousel.style.transform = `translateX(${currentIndex * itemWidth}px)`;
        indicatorEls[currentIndex].classList.add("active");
        clearInterval(timer);
        timer = setInterval(() => nextSlide(), delay);
    }

    function nextSlide() {
        indicatorEls[currentIndex].classList.remove("active");
        currentIndex = (currentIndex + 1) % carouselItem.length;
        itemWidth = carouselItem[currentIndex].clientWidth;
        moveCarousel();
    }

    function prevSlide() {
        indicatorEls[currentIndex].classList.remove("active");
        currentIndex =
            (currentIndex - 1 + carouselItem.length) % carouselItem.length;
        itemWidth = carouselItem[currentIndex].clientWidth;
        moveCarousel();
    }

    document.querySelector("#prev").addEventListener("click", prevSlide);
    document.querySelector("#next").addEventListener("click", nextSlide);
</script>
