---
import StaggeredTitle from "./StaggeredTitle.astro";
import Card from "./Card.astro";
import ReadMore from "./ReadMore.astro";
import NothingHere from "./NothingHere.astro";
const MAX_LENGTH = 10000;
const { news, length = MAX_LENGTH } = Astro.props;
---

<section>
    <StaggeredTitle>آخرین اخبار</StaggeredTitle>
    <div class="news-container">
        <NothingHere />

        {
            news.slice(0, length).map((item) => {
                return (
                    <Card
                        image={item.image}
                        title={item.title}
                        url={"/news/" + item.slug}
                        excerpt={item.excerpt}
                        date={item.date}
                    />
                );
            })
        }
    </div>
    {length !== MAX_LENGTH && <ReadMore url="news/1" />}
</section>
<style>
    section {
        position: relative;
    }
    .news-container {
        justify-content: space-around;
        display: flex;
        gap: 40px;
        padding: 10px 10%;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
</style>
