---
import StaggeredTitle from "./StaggeredTitle.astro";
import NewsCard from "./NewsCard.astro";
import ReadMore from "./ReadMore.astro";
---

<section>
    <StaggeredTitle>آخرین اخبار</StaggeredTitle>
    <div class="news-container">
        <NewsCard
            image="news-photo-1.png"
            title="افتتاحیه دفتر انجمن علمی ادبیات"
            url=""
            excerpt="دانشکده برق و کامپیوتر، ساختمان اساتید جدید، اتاق 108"
            date="آذر 1401"
        />
        <NewsCard
            image="news-photo-2.png"
            title="افتتاحیه دفتر انجمن علمی ادبیات"
            url=""
            excerpt="دانشکده برق و کامپیوتر، ساختمان اساتید جدید، اتاق 108"
            date="آذر 1401"
        />
        <NewsCard
            image="news-photo-1.png"
            title="افتتاحیه دفتر انجمن علمی ادبیات"
            url=""
            excerpt="دانشکده برق و کامپیوتر، ساختمان اساتید جدید، اتاق 108"
            date="آذر 1401"
        />
        <NewsCard
            image="news-photo-1.png"
            title="افتتاحیه دفتر انجمن علمی ادبیات"
            url=""
            excerpt="دانشکده برق و کامپیوتر، ساختمان اساتید جدید، اتاق 108"
            date="آذر 1401"
        />
    </div>
    <ReadMore />
</section>
<style>
    section {
        position: relative;
    }
    .news-container {
        justify-content: space-around;
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
</style>
