---
import StaggeredTitle from "./StaggeredTitle.astro";
import PostCard from "./PostCard.astro";

const tempText = `
ูพูุงูุ ุชุฑุณุฏู ุงุฒ ุงู ฺฉุงุจูุณุ ุจู ุฏูุจุงู ููุณุฑุด ุงูุฒูุฏุง ุฏูุฏุ ฺฉู ุฑู ุจฺู ูุฑุถ ฺฉููพุฑุณ ูโฺฏุฐุงุดุชุ ู ุงู ุฑุง ุชุง ุชู ุญุงุท ุจุฑุฏ. ูุฑุฏู ุฌูุงุฒู ุฑุง ูฺฏุงู ฺฉุฑุฏูุฏ ฺฉู ุฏุฑ ุจโููุด ุณุงฺฉุช ุงูุชุงุฏู ุจูุฏ. ุดุจู ฺฉ ุขุดุบุงูโุฌูุนโฺฉู ูุจุงุณ ูพูุดุฏู ุจูุฏ. ููุท ฺูุฏ ูพุฑุฒ ุฑูฺฏโุฑูุชู ุฑู ุฌูุฌูู ฺฉฺูุด ุจุงู ูุงูุฏู ุจูุฏ ู ุฏูุฏุงูโูุง ุฎู ฺฉู ุฏุฑ ุฏูุงูุดุ ู ูุถุนุช ุฑูุชโุงูฺฏุฒุด ุดุจู ฺฉ ูพุฏุฑ ุฌุฏ ุฎุณุฏูุ ุงู ุฑุง ุนุงุฑ ุงุฒ ูุฑ ุงุตุงูุช ฺฉุฑุฏู ุจูุฏ. ุจุงูโูุง ฺฉุฑฺฉุณ ุจุฒุฑฺฏุดุ ฺฉุซู ู ููู ฺฉูุฏูโุดุฏูุ ุจุฑุง ููุดู ุจู ฺฏู ู ุดู ูุดุณุชู ุจูุฏูุฏ. ูพูุงู ู ุงูุฒูุฏุง ุขูโูุฏุฑ ุจู ุงู ูฺฏุงู ฺฉุฑุฏูุฏ ู ุขูโูุฏุฑ ุจุง ุชูุฌูุ ฺฉู ุฎู ุฒูุฏ ุจุง ุชุนุฌุจุดุงู ฺฉูุงุฑ ุขูุฏูุฏ ู ุฏุฑ ููุงุช ุงู ุจู ูุธุฑุดุงู ุขุดูุง ุขูุฏ. ุจูุงุจุฑุงู ุฌุฑุฃุช ฺฉุฑุฏูุฏ ุจุง ุงู ุตุญุจุช ฺฉููุฏ. ุงู ุจุง ฺฉ ุฒุจุงู ูุงููููู ูู ุจุง ุตุฏุง ุฎูุจ ฺฉ ุฏุฑุงููุฑุฏ ุฌูุงุจุดุงู ุฑุง ุฏุงุฏ. ุจู ุงู ุตูุฑุช ุจูุฏ ฺฉู ูุงุฌูุฑ ุจูุฏู ุจุงูโูุง ุฑุง ูุงุฏุฏู ฺฏุฑูุชูุฏ ู ุจุง ูุถุงูุช ุฎู ุฎูุจ ูุชุฌู ฺฏุฑูุชูุฏ ฺฉู ฺฉ ฺฉุดุชโุดฺฉุณุชู ุชููุง ุงุฒ ฺฉ ฺฉุดุช ุฎุงุฑุฌ ุงุณุช ฺฉู ุฏุฑ ุทููุงู ูููุฏู ุดุฏู ุงุณุช. ุจุง ุงู ูุฌูุฏุ ฺฉ ุงุฒ ุฎุงููโูุง ููุณุงู ฺฉู ูููโฺุฒ ุฏุฑุจุงุฑู ูุฑฺฏ ู ุฒูุฏฺฏ ูโุฏุงูุณุช ุฑุง ุตุฏุง ุฒุฏูุฏ ุชุง ุงู ุฑุง ุจุจูุฏ ู ุจุฑุง ุงู ฺฉ ูฺฏุงู ฺฉุงู ุจูุฏ ุชุง ุงุดุชุจุงูุดุงู ุฑุง ุฏุฑุขูุฑุฏ.

ุจู ุขูโูุง ฺฏูุช: ุงู ฺฉ ูุฑุดุชู ุงุณุช. ูุทูุฆูู ุจู ุฎุงุทุฑ ุจฺู ุขูุฏู ุงุณุชุ ูู ุจฺุงุฑู ุขูโูุฏุฑ ูพุฑ ุงุณุช ฺฉู ุจู ุฎุงุทุฑ ุจุงุฑุงู ุงุฒ ูพุง ุฏุฑุขูุฏู.

๐ ุขูุง ุฎู ูพุฑ ุจุง ุจุงูโูุง ุฎู ุจุฒุฑฺฏ
#ฺฏุงุจุฑู_ฺฏุงุฑุณุง_ูุงุฑฺฉุฒ

`;
---

<section>
    <StaggeredTitle>ุขุฎุฑู ููุดุชูโูุง</StaggeredTitle>
    <div class="posts-container">
        <PostCard
            title="ฺฏุงุจุฑู ฺฏุงุฑุณุง ูุงุฑฺฉุฒ"
            image="posts-photo-1.png"
            author="ุญุณู ูู"
            excerpt={tempText}
            date="ุขุฐุฑ 1401"
        />
        <PostCard
            title="ฺฏุงุจุฑู ฺฏุงุฑุณุง ูุงุฑฺฉุฒ"
            image="posts-photo-1.png"
            author="ุญุณู ูู"
            excerpt={tempText}
            date="ุขุฐุฑ 1401"
        />
        <PostCard
            title="ฺฏุงุจุฑู ฺฏุงุฑุณุง ูุงุฑฺฉุฒ"
            image="news-photo-1.png"
            author="ุญุณู ูู"
            excerpt={tempText}
            date="ุขุฐุฑ 1401"
        />
    </div>
</section>
<style>
    .posts-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin: 10px;
        margin-right: 10%;
        gap: 40px;
    }
</style>
